In [60]:
# Import dependencies 
import pandas as pd

In [61]:
# Import csv
snow_data_to_load = "data/data_1993_2018.csv"

In [73]:
# Read csv
snow_data = pd.read_csv(snow_data_to_load)
snow_data.head()

,SiteNumber,StationName,SampleDate,WaterYear,SampleType,ANC (ueq/L),SC (uS/cm),pH,H (ueq/L),Ca (ueq/L),...,NO3 (ueq/L),DOC (mg/L),Total N (mg/L),Total Dissolved N (mg/L),Hg (ng/L) Roth 1994,Hg (ng/L) USEPA 1631,d34S (per mil),SWE (cm),Snow Depth (cm),Ionic Balance (%)
0,3.910000e+14,AJAX MOUNTAIN CO,3/29/2000,2000,OB,-5.4,3.7,5.2,6.3,6.5,...,9.3,1.22,NaN,NaN,NaN,NaN,NaN,NaN,185.0,15.9
1,4.020000e+14,ANDREWS BUTTRESS CO,4/1/2002,2002,OB,-9.8,6.2,5.1,7.9,10.5,...,17.1,0.59,NaN,NaN,1.5,NaN,NaN,127.0,328.0,7.1
2,4.830000e+14,APGAR LOOKOUT MT,3/19/1996,1996,OB,-6.0,3.0,5.2,6.3,<3.1,...,5.2,1.1,NaN,NaN,NaN,NaN,NaN,NaN,160.0,35.8
3,4.830000e+14,APGAR LOOKOUT MT,4/4/1997,1997,OB,-8.0,4.0,5.0,10.0,<3.1,...,4.9,1.1,NaN,NaN,NaN,NaN,6.6,NaN,254.0,7.3
4,4.830000e+14,APGAR LOOKOUT MT,3/5/1998,1998,OB,-11.0,4.9,5.0,10.0,2.5,...,6.9,0.7,NaN,NaN,NaN,NaN,6.3,NaN,145.0,20.1

In [74]:
# Drop unneeded columns
filtered_snow_data = snow_data.drop(columns=['SiteNumber', 'SampleDate', 'SampleType', 'ANC (ueq/L)', 'SC (uS/cm)', 'Total N (mg/L)', 'Total Dissolved N (mg/L)', 'Hg (ng/L) Roth 1994', 'Hg (ng/L) USEPA 1631', 'd34S (per mil)', 'SWE (cm)', 'Ionic Balance (%)'])
filtered_snow_data.head()

,StationName,WaterYear,pH,H (ueq/L),Ca (ueq/L),Mg (ueq/L),Na (ueq/L),K (ueq/L),NH4 (ueq/L),Cl (ueq/L),SO4 (ueq/L),NO3 (ueq/L),DOC (mg/L),Snow Depth (cm)
0,AJAX MOUNTAIN CO,2000,5.2,6.3,6.5,2.5,<1,2.9,4.7,0.8,6.5,9.3,1.22,185.0
1,ANDREWS BUTTRESS CO,2002,5.1,7.9,10.5,2.5,2.1,0.9,4,1.7,5.4,17.1,0.59,328.0
2,APGAR LOOKOUT MT,1996,5.2,6.3,<3.1,<1.7,4.3,3.8,1.9,<1.1,2.5,5.2,1.1,160.0
3,APGAR LOOKOUT MT,1997,5.0,10.0,<3.1,<1.7,NaN,1,2.3,1.4,5.2,4.9,1.1,254.0
4,APGAR LOOKOUT MT,1998,5.0,10.0,2.5,0.8,2.2,<0.5,6,1.4,6,6.9,0.7,145.0

In [75]:
# Obtain data entry count of each Station Name
station_count = filtered_snow_data['StationName'].value_counts()
station_count = station_count[station_count >= 20]
station_count

ELKHART PARK WY           27
HOPEWELL NM               27
LOVELAND PASS CO          27
UNIVERSITY CAMP CO        27
BROOKLYN LAKE WY          27
DAISY PASS MT             26
DUNCKLEY PASS CO          26
OLD BATTLE WY             26
FOUR MILE MEADOW WY       26
RED MOUNTAIN PASS CO      26
GRANITE PASS MT           26
GRAND MESA CO             26
BUFFALO PASS CO           26
GARNET CANYON WY          26
BIG SKY MT                26
SUNLIGHT PEAK CO          26
LEWIS LAKE DIVIDE WY      26
TOGWOTEE PASS WY          26
BIG MOUNTAIN MT           26
RED MOUNTAIN MT           26
BERTHOUD PASS CO          26
NOISY BASIN MT            26
WOLF CREEK PASS CO        26
CANYON WY                 26
FREMONT PASS CO           26
SYLVAN LAKE WY            26
SLUMGULLION PASS CO       26
RENDEZVOUS MOUNTAIN WY    26
LIONSHEAD MT              26
KINGS HILL MT             26
ELK RIVER CO              26
TETON PASS WY             26
CHIEF JOSEPH PASS MT      26
RABBIT EARS 1 CO          26
SOUTH PASS WY             26
MOLAS LAKE CO             26
BRUMLEY CO                26
MONARCH PASS CO           26
DRY LAKE CO               26
SNOW BOWL MT              26
CAMERON PASS CO           26
GYPSUM CREEK WY           25
DIVIDE PEAK WY            25
RABBIT EARS 2 CO          25
LOCH VALE FOREST CO       24
LOCH VALE MEADOW CO       22
SPRING GULCH MT           22
MOUNT BELMONT MT          22
LAKE IRENE CO             22
TWENTY-ONE MILE MT        21
APGAR LOOKOUT MT          21
WEST YELLOWSTONE MT       20
Name: StationName, dtype: int64

In [76]:
# Merge dataframes
filtered_snow_data = filtered_snow_data.merge(station_count, left_on = 'StationName', right_index = True, how = 'inner')

In [77]:
# Drop unneeded columns from merge
filtered_snow_data = filtered_snow_data.drop(columns=['StationName_x', 'StationName_y'])
filtered_snow_data.head()

,StationName,WaterYear,pH,H (ueq/L),Ca (ueq/L),Mg (ueq/L),Na (ueq/L),K (ueq/L),NH4 (ueq/L),Cl (ueq/L),SO4 (ueq/L),NO3 (ueq/L),DOC (mg/L),Snow Depth (cm)
2,APGAR LOOKOUT MT,1996,5.2,6.3,<3.1,<1.7,4.3,3.8,1.9,<1.1,2.5,5.2,1.1,160.0
3,APGAR LOOKOUT MT,1997,5.0,10.0,<3.1,<1.7,NaN,1,2.3,1.4,5.2,4.9,1.1,254.0
4,APGAR LOOKOUT MT,1998,5.0,10.0,2.5,0.8,2.2,<0.5,6,1.4,6,6.9,0.7,145.0
5,APGAR LOOKOUT MT,1999,5.3,5.0,2.5,0.8,2,0.6,5.4,1.4,4.6,5.3,0.4,183.0
6,APGAR LOOKOUT MT,2000,5.1,7.9,1.5,0.8,<1,<0.4,4.4,<0.6,4.8,6.7,0.41,180.0